{%
  set classes = [
  'layout',
  'layout--uw-2-col',
  settings.column_class,
]
%}

{% include '@layouts/layout/layout--2-col/layout--2-col.twig' with {
  'classes': classes,
  'content': content,
  'options': uw_section.options,
} %}
