{%
  set classes = [
  'layout',
  'layout--uw-4-col',
  settings.column_class,
]
%}

{% include '@layouts/layout/layout--4-col/layout--4-col.twig' with {
  'classes': classes,
  'content': content,
  'options': uw_section.options,
} %}
