{%
  set classes = [
  'layout',
  'layout--uw-inverted-l-right',
  settings.column_class,
]
%}

{% include '@layouts/layout/layout--inverted-l-right/layout--inverted-l-right.twig' with {
  'classes': classes,
  'content': content,
  'options': uw_section.options,
} %}
