{%
  set classes = [
  'layout',
  'layout--uw-5-col',
  settings.column_class,
]
%}

{% include '@layouts/layout/layout--5-col/layout--5-col.twig' with {
  'classes': classes,
  'content': content,
  'options': uw_section.options,
} %}
